#
# configuration file for the model architecture 
# with shadow states for simultaneous prediction of genes on BOTH STRANDS
# date : 19.05.2003
#

#
# Training States
#

/EHMMTraining/statecount        3
/EHMMTraining/state00           intronmodel
/EHMMTraining/state01		exonmodel
/EHMMTraining/state02		igenicmodel


# Properties for NamGene 
# ----------------------------
/NAMGene/SynchState         47

/NAMGene/statecount         48
/NAMGene/state00            igenicmodel      # start intergenic region
/NAMGene/state01            exonmodel        # single Exon
/NAMGene/state02            exonmodel        # initial Exon win 0
/NAMGene/state03            exonmodel        # initial Exon win 1
/NAMGene/state04            exonmodel        # initial Exon win 2
/NAMGene/state05            exonmodel        # internal Exon win 0
/NAMGene/state06            exonmodel        # internal Exon win 1
/NAMGene/state07            exonmodel        # internal Exon win 2
/NAMGene/state08            exonmodel        # terminal exon
/NAMGene/state09            intronmodel      # lessD0 Intron win 0
/NAMGene/state10            intronmodel      # longdss0
/NAMGene/state11            intronmodel      # equalD0 Intron win 0
/NAMGene/state12            intronmodel      # geometric0 Intron win 0
/NAMGene/state13            intronmodel      # longass0
/NAMGene/state14            intronmodel      # lessD1 Intron win 1
/NAMGene/state15            intronmodel      # longdss1
/NAMGene/state16            intronmodel      # equalD1 Intron win 1
/NAMGene/state17            intronmodel      # geometric1 Intron win 1
/NAMGene/state18            intronmodel      # longass1
/NAMGene/state19            intronmodel      # lessD2 Intron win 2
/NAMGene/state20            intronmodel      # longdss2
/NAMGene/state21            intronmodel      # equalD2 Intron win 2 
/NAMGene/state22            intronmodel      # geometric2 Intron win 2
/NAMGene/state23            intronmodel      # longass2
/NAMGene/state24            exonmodel        # reverse  single Exon
/NAMGene/state25            exonmodel        # reverse  initial
/NAMGene/state26            exonmodel        # reverse  internal Exon win 0
/NAMGene/state27            exonmodel        # reverse  internal Exon win 1
/NAMGene/state28            exonmodel        # reverse  internal Exon win 2
/NAMGene/state29            exonmodel        # reverse  terminal exon win 0
/NAMGene/state30            exonmodel        # reverse  terminal exon win 1
/NAMGene/state31            exonmodel        # reverse  terminal exon win 2
/NAMGene/state32            intronmodel      # reverse  lessD0 Intron win 0
/NAMGene/state33            intronmodel      # reverse  longdss0
/NAMGene/state34            intronmodel      # reverse  equalD0 Intron win 0
/NAMGene/state35            intronmodel      # reverse  geometric0 Intron win 0
/NAMGene/state36            intronmodel      # reverse  longass0
/NAMGene/state37            intronmodel      # reverse  lessD1 Intron win 1
/NAMGene/state38            intronmodel      # reverse  longdss1
/NAMGene/state39            intronmodel      # reverse  equalD1 Intron win 1
/NAMGene/state40            intronmodel      # reverse  geometric1 Intron win 1
/NAMGene/state41            intronmodel      # reverse  longass1
/NAMGene/state42            intronmodel      # reverse  lessD2 Intron win 2
/NAMGene/state43            intronmodel      # reverse  longdss2
/NAMGene/state44            intronmodel      # reverse  equalD2 Intron win 2 
/NAMGene/state45            intronmodel      # reverse  geometric2 Intron win 2
/NAMGene/state46            intronmodel      # reverse  longass2
/NAMGene/state47            igenicmodel      # end intergenic region

# Properties for IGenicModel
# ----------------------------
/IGenicModel/type00         igenic

# Properties for ExonModel
# ----------------------------
/ExonModel/type00           single
/ExonModel/type01           initial0
/ExonModel/type02           initial1
/ExonModel/type03           initial2
/ExonModel/type04           internal0
/ExonModel/type05           internal1
/ExonModel/type06           internal2
/ExonModel/type07           terminal
/ExonModel/type08           rsingle
/ExonModel/type09           rinitial
/ExonModel/type10           rinternal0
/ExonModel/type11           rinternal1
/ExonModel/type12           rinternal2
/ExonModel/type13           rterminal0
/ExonModel/type14           rterminal1
/ExonModel/type15           rterminal2
 
# Properties for IntronModel
# ----------------------------
/IntronModel/type00         lessD0
/IntronModel/type01         longdss0
/IntronModel/type02         equalD0
/IntronModel/type03         geometric0
/IntronModel/type04         longass0
/IntronModel/type05         lessD1
/IntronModel/type06         longdss1
/IntronModel/type07         equalD1
/IntronModel/type08         geometric1
/IntronModel/type09         longass1
/IntronModel/type10         lessD2
/IntronModel/type11         longdss2
/IntronModel/type12         equalD2
/IntronModel/type13         geometric2
/IntronModel/type14         longass2
/IntronModel/type15         rlessD0
/IntronModel/type16         rlongdss0
/IntronModel/type17         requalD0
/IntronModel/type18         rgeometric0
/IntronModel/type19         rlongass0
/IntronModel/type20         rlessD1
/IntronModel/type21         rlongdss1
/IntronModel/type22         requalD1
/IntronModel/type23         rgeometric1
/IntronModel/type24         rlongass1
/IntronModel/type25         rlessD2
/IntronModel/type26         rlongdss2
/IntronModel/type27         requalD2
/IntronModel/type28         rgeometric2
/IntronModel/type29         rlongass2

