#
# configuration file for the model architecture 
# including states for NONCODING exons (UTRs, possibly spliced RNA wo ORF)
# and NONCODING genes (possibly spliced)
# with shadow states for simultaneous prediction of genes on BOTH STRANDS
# contains states for both UTRs, including variable length UTR introns
# date : 22.2.2015
#

#
# Training States
#
# order should be igenic and intron before utr and exon
/EHMMTraining/statecount        5
/EHMMTraining/state00		igenicmodel
/EHMMTraining/state01		exonmodel
/EHMMTraining/state02           intronmodel
/EHMMTraining/state03		utrmodel
/EHMMTraining/state04		ncmodel

# Properties for NamGene 
# ----------------------------
/NAMGene/SynchState         0
/NAMGene/statecount         83
/NAMGene/state00            igenicmodel      # intergenic region
/NAMGene/state01            exonmodel        # single Exon
/NAMGene/state02            exonmodel        # initial Exon win 0
/NAMGene/state03            exonmodel        # initial Exon win 1
/NAMGene/state04            exonmodel        # initial Exon win 2
/NAMGene/state05            exonmodel        # internal Exon win 0
/NAMGene/state06            exonmodel        # internal Exon win 1
/NAMGene/state07            exonmodel        # internal Exon win 2
/NAMGene/state08            exonmodel        # terminal exon
/NAMGene/state09            intronmodel      # lessD0 Intron win 0
/NAMGene/state10            intronmodel      # longdss0
/NAMGene/state11            intronmodel      # equalD0 Intron win 0
/NAMGene/state12            intronmodel      # geometric0 Intron win 0
/NAMGene/state13            intronmodel      # longass0
/NAMGene/state14            intronmodel      # lessD1 Intron win 1
/NAMGene/state15            intronmodel      # longdss1
/NAMGene/state16            intronmodel      # equalD1 Intron win 1
/NAMGene/state17            intronmodel      # geometric1 Intron win 1
/NAMGene/state18            intronmodel      # longass1
/NAMGene/state19            intronmodel      # lessD2 Intron win 2
/NAMGene/state20            intronmodel      # longdss2
/NAMGene/state21            intronmodel      # equalD2 Intron win 2 
/NAMGene/state22            intronmodel      # geometric2 Intron win 2
/NAMGene/state23            intronmodel      # longass2
/NAMGene/state24            utrmodel         # 5' UTR single exon
/NAMGene/state25            utrmodel         # 5' UTR initial exon
/NAMGene/state26            utrmodel         # 5' UTR intron single base
/NAMGene/state27            utrmodel         # 5' UTR intron variable length
/NAMGene/state28            utrmodel         # 5' UTR internal exon
/NAMGene/state29            utrmodel         # 5' UTR terminal exon
/NAMGene/state30            utrmodel         # 3' UTR single exon
/NAMGene/state31            utrmodel         # 3' UTR initial exon
/NAMGene/state32            utrmodel         # 3' UTR intron single base
/NAMGene/state33            utrmodel         # 3' UTR intron variable length
/NAMGene/state34            utrmodel         # 3' UTR internal exon
/NAMGene/state35            utrmodel         # 3' UTR terminal exon
/NAMGene/state36            exonmodel        # reverse  single Exon
/NAMGene/state37            exonmodel        # reverse  initial
/NAMGene/state38            exonmodel        # reverse  internal Exon win 0
/NAMGene/state39            exonmodel        # reverse  internal Exon win 1
/NAMGene/state40            exonmodel        # reverse  internal Exon win 2
/NAMGene/state41            exonmodel        # reverse  terminal exon win 0
/NAMGene/state42            exonmodel        # reverse  terminal exon win 1
/NAMGene/state43            exonmodel        # reverse  terminal exon win 2
/NAMGene/state44            intronmodel      # reverse  lessD0 Intron win 0
/NAMGene/state45            intronmodel      # reverse  longdss0
/NAMGene/state46            intronmodel      # reverse  equalD0 Intron win 0
/NAMGene/state47            intronmodel      # reverse  geometric0 Intron win 0
/NAMGene/state48            intronmodel      # reverse  longass0
/NAMGene/state49            intronmodel      # reverse  lessD1 Intron win 1
/NAMGene/state50            intronmodel      # reverse  longdss1
/NAMGene/state51            intronmodel      # reverse  equalD1 Intron win 1
/NAMGene/state52            intronmodel      # reverse  geometric1 Intron win 1
/NAMGene/state53            intronmodel      # reverse  longass1
/NAMGene/state54            intronmodel      # reverse  lessD2 Intron win 2
/NAMGene/state55            intronmodel      # reverse  longdss2
/NAMGene/state56            intronmodel      # reverse  equalD2 Intron win 2 
/NAMGene/state57            intronmodel      # reverse  geometric2 Intron win 2
/NAMGene/state58            intronmodel      # reverse  longass2
/NAMGene/state59            utrmodel         # reverse 5' UTR single exon
/NAMGene/state60            utrmodel         # reverse 5' UTR initial exon
/NAMGene/state61            utrmodel         # reverse 5' UTR intron single base
/NAMGene/state62            utrmodel         # reverse 5' UTR intron variable length
/NAMGene/state63            utrmodel         # reverse 5' UTR internal exon
/NAMGene/state64            utrmodel         # reverse 5' UTR terminal exon
/NAMGene/state65            utrmodel         # reverse 3' UTR single exon
/NAMGene/state66            utrmodel         # reverse 3' UTR initial exon
/NAMGene/state67            utrmodel         # reverse 3' UTR intron single base
/NAMGene/state68            utrmodel         # reverse 3' UTR intron variable length
/NAMGene/state69            utrmodel         # reverse 3' UTR internal exon
/NAMGene/state70            utrmodel         # reverse 3' UTR terminal exon
/NAMGene/state71            ncmodel         # noncoding single
/NAMGene/state72            ncmodel         # noncoding initial
/NAMGene/state73            ncmodel         # noncoding intron single base
/NAMGene/state74            ncmodel         # noncoding intron variable length
/NAMGene/state75            ncmodel         # noncoding internal exon
/NAMGene/state76            ncmodel         # noncoding terminal exon
/NAMGene/state77            ncmodel         # reverse noncoding single
/NAMGene/state78            ncmodel         # reverse noncoding initial exon
/NAMGene/state79            ncmodel         # reverse noncoding intron single base
/NAMGene/state80            ncmodel         # reverse noncoding intron variable length
/NAMGene/state81            ncmodel         # reverse noncoding internal
/NAMGene/state82            ncmodel         # reverse noncoding term

# Properties for IGenicModel
# ----------------------------
/IGenicModel/type00         igenic

# Properties for ExonModel
# ----------------------------
/ExonModel/type00           single
/ExonModel/type01           initial0
/ExonModel/type02           initial1
/ExonModel/type03           initial2
/ExonModel/type04           internal0
/ExonModel/type05           internal1
/ExonModel/type06           internal2
/ExonModel/type07           terminal
/ExonModel/type08           rsingle
/ExonModel/type09           rinitial
/ExonModel/type10           rinternal0
/ExonModel/type11           rinternal1
/ExonModel/type12           rinternal2
/ExonModel/type13           rterminal0
/ExonModel/type14           rterminal1
/ExonModel/type15           rterminal2
 
# Properties for IntronModel
# ----------------------------
/IntronModel/type00         lessD0
/IntronModel/type01         longdss0
/IntronModel/type02         equalD0
/IntronModel/type03         geometric0
/IntronModel/type04         longass0
/IntronModel/type05         lessD1
/IntronModel/type06         longdss1
/IntronModel/type07         equalD1
/IntronModel/type08         geometric1
/IntronModel/type09         longass1
/IntronModel/type10         lessD2
/IntronModel/type11         longdss2
/IntronModel/type12         equalD2
/IntronModel/type13         geometric2
/IntronModel/type14         longass2
/IntronModel/type15         rlessD0
/IntronModel/type16         rlongdss0
/IntronModel/type17         requalD0
/IntronModel/type18         rgeometric0
/IntronModel/type19         rlongass0
/IntronModel/type20         rlessD1
/IntronModel/type21         rlongdss1
/IntronModel/type22         requalD1
/IntronModel/type23         rgeometric1
/IntronModel/type24         rlongass1
/IntronModel/type25         rlessD2
/IntronModel/type26         rlongdss2
/IntronModel/type27         requalD2
/IntronModel/type28         rgeometric2
/IntronModel/type29         rlongass2

# Properties for UtrModel
# ----------------------------
/UtrModel/type00           utr5single
/UtrModel/type01           utr5init
/UtrModel/type02           utr5intron
/UtrModel/type03           utr5intronvar
/UtrModel/type04           utr5internal
/UtrModel/type05           utr5term
/UtrModel/type06           utr3single
/UtrModel/type07           utr3init
/UtrModel/type08           utr3intron
/UtrModel/type09           utr3intronvar
/UtrModel/type10           utr3internal
/UtrModel/type11           utr3term
/UtrModel/type12           rutr5single
/UtrModel/type13           rutr5init
/UtrModel/type14           rutr5intron
/UtrModel/type15           rutr5intronvar
/UtrModel/type16           rutr5internal
/UtrModel/type17           rutr5term
/UtrModel/type18           rutr3single
/UtrModel/type19           rutr3init
/UtrModel/type20           rutr3intron
/UtrModel/type21           rutr3intronvar
/UtrModel/type22           rutr3internal
/UtrModel/type23           rutr3term
/UtrModel/type24           ncsingle

# Properties for NcModel
# ----------------------------
# noncoding genes
/NcModel/type00           ncsingle
/NcModel/type01           ncinit
/NcModel/type02           ncintron
/NcModel/type03           ncintronvar
/NcModel/type04           ncinternal
/NcModel/type05           ncterm
/NcModel/type06           rncsingle
/NcModel/type07           rncinit
/NcModel/type08           rncintron
/NcModel/type09           rncintronvar
/NcModel/type10           rncinternal
/NcModel/type11           rncterm
