#
# configuration file for the model architecture 
# without introns, both strands, no UTR.
# eukaryotes without introns. 
# for bacteria, rather take genemodel=bacterium
# date : 10.06.2009
#

#
# Training States
#

/EHMMTraining/statecount        2
/EHMMTraining/state00		exonmodel
/EHMMTraining/state01		igenicmodel

# Properties for NamGene 
# ----------------------------
/NAMGene/SynchState         0
/NAMGene/statecount         3
/NAMGene/state00            igenicmodel      # intergenic region
/NAMGene/state01            exonmodel        # single Exon
/NAMGene/state02            exonmodel        # reverse  single Exon


# Properties for IGenicModel
# ----------------------------
/IGenicModel/type00         igenic

# Properties for ExonModel
# ----------------------------
/ExonModel/type00           single
/ExonModel/type01           rsingle
