#
# configuration file for the model architecture 
# for predictions considering only a single strand
# date : 19.05.2003
#

#
# Training States
#

/EHMMTraining/statecount        3
/EHMMTraining/state00           intronmodel
/EHMMTraining/state01		exonmodel
/EHMMTraining/state02		igenicmodel


# Properties for NamGene 
# ----------------------------
/NAMGene/SynchState         24

/NAMGene/statecount         25
/NAMGene/state00            igenicmodel      # intergenic region
/NAMGene/state01            exonmodel        # single Exon
/NAMGene/state02            exonmodel        # initial Exon win 0
/NAMGene/state03            exonmodel        # initial Exon win 1
/NAMGene/state04            exonmodel        # initial Exon win 2
/NAMGene/state05            exonmodel        # internal Exon win 0
/NAMGene/state06            exonmodel        # internal Exon win 1
/NAMGene/state07            exonmodel        # internal Exon win 2
/NAMGene/state08            exonmodel        # terminal exon
/NAMGene/state09            intronmodel      # lessD0 Intron win 0
/NAMGene/state10            intronmodel      # longdss0
/NAMGene/state11            intronmodel      # equalD0 Intron win 0
/NAMGene/state12            intronmodel      # geometric0 Intron win 0
/NAMGene/state13            intronmodel      # longass0
/NAMGene/state14            intronmodel      # lessD1 Intron win 1
/NAMGene/state15            intronmodel      # longdss1
/NAMGene/state16            intronmodel      # equalD1 Intron win 1
/NAMGene/state17            intronmodel      # geometric1 Intron win 1
/NAMGene/state18            intronmodel      # longass1
/NAMGene/state19            intronmodel      # lessD2 Intron win 2
/NAMGene/state20            intronmodel      # longdss2
/NAMGene/state21            intronmodel      # equalD2 Intron win 2 
/NAMGene/state22            intronmodel      # geometric2 Intron win 2
/NAMGene/state23            intronmodel      # longass2
/NAMGene/state24            igenicmodel      # intergenic region

# Properties for IGenicModel
# ----------------------------
/IGenicModel/type00         igenic

# Properties for ExonModel
# ----------------------------
/ExonModel/type00           single
/ExonModel/type01           initial0
/ExonModel/type02           initial1
/ExonModel/type03           initial2
/ExonModel/type04           internal0
/ExonModel/type05           internal1
/ExonModel/type06           internal2
/ExonModel/type07           terminal
 
# Properties for IntronModel
# ----------------------------
/IntronModel/type00         lessD0
/IntronModel/type01         longdss0
/IntronModel/type02         equalD0
/IntronModel/type03         geometric0
/IntronModel/type04         longass0
/IntronModel/type05         lessD1
/IntronModel/type06         longdss1
/IntronModel/type07         equalD1
/IntronModel/type08         geometric1
/IntronModel/type09         longass1
/IntronModel/type10         lessD2
/IntronModel/type11         longdss2
/IntronModel/type12         equalD2
/IntronModel/type13         geometric2
/IntronModel/type14         longass2
