auxprogs/utrrnaseq/.cproject
auxprogs/utrrnaseq/.project
auxprogs/utrrnaseq/.settings/
auxprogs/utrrnaseq/Debug/src/*.d
auxprogs/utrrnaseq/Debug/src/*.o
auxprogs/utrrnaseq/Debug/utrrnaseq
auxprogs/utrrnaseq/*.gff
src/*.o
src/googletest/*.o
auxprogs/bam2hints/bam2hints
auxprogs/bam2hints/bam2hints.o
auxprogs/bam2wig/bam2wig
auxprogs/bam2wig/bam2wig.o
auxprogs/compileSpliceCands/compileSpliceCands
auxprogs/compileSpliceCands/compileSpliceCands.o
auxprogs/compileSpliceCands/list.o
auxprogs/filterBam/src/MatePairs.o
auxprogs/filterBam/src/PairednessCoverage.o
auxprogs/filterBam/src/SingleAlignment.o
auxprogs/filterBam/src/filterBam.o
auxprogs/filterBam/src/getReferenceName.o
auxprogs/filterBam/src/initOptions.o
auxprogs/filterBam/src/printElapsedTime.o
auxprogs/filterBam/src/sumDandIOperations.o
auxprogs/filterBam/src/sumMandIOperations.o
auxprogs/homGeneMapping/src/gene.o
auxprogs/homGeneMapping/src/genome.o
auxprogs/homGeneMapping/src/sqliteDB.o
auxprogs/homGeneMapping/src/homGeneMapping
auxprogs/homGeneMapping/test/
auxprogs/joingenes/jg_ios.o
auxprogs/joingenes/jg_transcript.o
auxprogs/joingenes/joingenes
auxprogs/joingenes/joingenes.o
bin/
examples/cgp/out/
include/ann.hh~
src/ann.cc~
src/augustus
src/cxxflags
src/espoca
src/etraining
src/fastBlockSearch
src/getSeq
src/load2db
src/load2sqlitedb
src/parser/parse.o
src/prepareAlign
src/scanner/lex.o

# ignore VS Code configuration files
.vscode

# ignore generated test output
examples_test_results/

# ignore tmp test case data
examples_test/data/tmp/
