# extrinsic information configuration file for AUGUSTUS
# 
# protein hints
# include with --extrinsicCfgFile=filename
# date: 16.10.2007
# Mario Stanke (mstanke@gwdg.de)


# source of extrinsic information:
# M manual anchor (required)
# P protein database hit
# E EST/cDNA database hit
# C combined est/protein database hit
# D Dialign
# R retroposed genes
# T transMapped refSeqs
# W wiggle track coverage info from RNA-Seq

[SOURCES]
M RM E W

#
# individual_liability: Only unsatisfiable hints are disregarded. By default this flag is not set
# and the whole hint group is disregarded when one hint in it is unsatisfiable.
# 1group1gene: Try to predict a single gene that covers all hints of a given group. This is relevant for
# hint groups with gaps, e.g. when two ESTs, say 5' and 3', from the same clone align nearby.
#
[SOURCE-PARAMETERS]


#   feature        bonus         malus   gradelevelcolumns
#		r+/r-
#
# the gradelevel colums have the following format for each source
# sourcecharacter numscoreclasses boundary    ...  boundary    gradequot  ...  gradequot
# 

[GENERAL]
      start        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
       stop        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
        tss        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
        tts        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
        ass        1    1  0.1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
        dss        1    1  0.1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
   exonpart        1 .992 .985  M    1  1e+100  RM  1     1    E 1    1    W 1    1.02
       exon        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
 intronpart        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
     intron        1       .34  M    1  1e+100  RM  1     1    E 1  1e4    W 1    1
    CDSpart        1    1 .985  M    1  1e+100  RM  1     1    E 1    1	   W 1    1
        CDS        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
    UTRpart        1    1 .985  M    1  1e+100  RM  1     1    E 1    1    W 1    1
        UTR        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
     irpart        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
nonexonpart        1         1  M    1  1e+100  RM  1     1.15 E 1    1    W 1    1
  genicpart        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1

[GROUP] # replace 'none' by the names of genomes with src=W and src=E hints in the database
none

[GENERAL]
      start        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
       stop        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
        tss        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
        tts        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
        ass        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
        dss        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
   exonpart        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
       exon        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
 intronpart        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
     intron        1        .1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
    CDSpart        1         1  M    1  1e+100  RM  1     1    E 1    1	   W 1    1
        CDS        1        .1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
    UTRpart        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
        UTR        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
     irpart        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
nonexonpart        1         1  M    1  1e+100  RM  1     1.15 E 1    1    W 1    1
  genicpart        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1

[GROUP] # replace 'none' by the names of genomes with src=M hints in the database
none

[GENERAL]
      start        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
       stop        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
        tss        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
        tts        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
        ass        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
        dss        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
   exonpart        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
       exon        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
 intronpart        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
     intron        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
    CDSpart        1         1  M    1  1e+100  RM  1     1    E 1    1	   W 1    1
        CDS        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
    UTRpart        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
        UTR        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
     irpart        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1
nonexonpart        1         1  M    1  1e+100  RM  1     1.15 E 1    1    W 1    1
  genicpart        1         1  M    1  1e+100  RM  1     1    E 1    1    W 1    1

[GROUP]
other

#
# Explanation:
#                                       
# In comparative gene prediction, hints can be integrated for multiple species.
# In order to have different extrinsic config settings for different species,
# multiple [GENERAL] tables are specified. Each table is followed by a [GROUP] section,
# a single line, in which a subset of the species is listed, for which the table is valid.
# Use the same species identifiers as in the MSA and in the phylogenetic tree.
# If a species is not assigned to any of the tables, all hints for that species are
# ignored. To assign all species to a single table, the key 'all' can be used instead of itemizing
# every single species identifier. Use the key 'other' to specify a table for all species, not
# listed in any previous table. When the key 'none' is specified the table is skipped.
# Note that the source RM must be specified in case that the softmasking option is turned on.
# Also note that all tables have the same dimension, i.e. each table must contain all sources
# listed in the section [SOURCES], even sources for which no hints exist for any of species
# in group.
