# extrinsic information configuration file for AUGUSTUS
# include with --extrinsicCfgFile=filename
# date: 01.08.2006
# Mario Stanke (mario@soe.ucsc.edu)


# source of extrinsic information:
# M manual anchor (required)
# P protein database hit
# E est database hit
# C combined est/protein database hit
# D Dialign
# R retroposed genes
# T transMapped refSeqs

[SOURCES]
M T 

#
# individual_liability: Only unsatisfiable hints are disregarded. By default this flag is not set
# and the whole hint group is disregarded when one hint in it is unsatisfiable.
# 1group1gene: Try to predict a single gene that covers all hints of a given group. This is relevant for
# hint groups with gaps, e.g. when two ESTs, say 5' and 3', from the same clone align nearby.
#
[SOURCE-PARAMETERS]
T individual_liability

#   feature        bonus         malus   gradelevelcolumns
#		r+/r-
#
# the gradelevel colums have the following format for each source
# sourcecharacter numscoreclasses boundary    ...  boundary    gradequot  ...  gradequot
# 

[GENERAL]
      start           1e5           0.3  M    1  1e+100  T    1       1
       stop           1e5           0.3  M    1  1e+100  T    1       1
        tss           100           0.8  M    1  1e+100  T    1       1
        tts           100           0.8  M    1  1e+100  T    1       1
        ass             1             1  M    1  1e+100  T    1       1
        dss             1             1  M    1  1e+100  T    1       1
   exonpart            10          0.98  M    1  1e+100  T    2       1.5 1 1e19
       exon             1             1  M    1  1e+100  T    1       1
 intronpart           1.3             1  M    1  1e+100  T    1       1  
     intron             1             1  M    1  1e+100  T    1       1  
    CDSpart             2          0.98  M    1  1e+100  T    2       1.5 1 5e29
        CDS             1             1  M    1  1e+100  T    1       1
    UTRpart             2          0.98  M    1  1e+100  T    2       1.5 1 5e29
        UTR             1             1  M    1  1e+100  T    1       1
     irpart           0.1             1  M    1  1e+100  T    1       1
nonexonpart             1             1  M    1  1e+100  T    1       1
  genicpart             1             1  M    1  1e+100  T    1       1


#
# Explanation: see original extrinsic.cfg file
#
