# logistic regression scores trained by mario for arabidopsis athalia and 3 others

# exon scores

/CompPred/exon_score0   -3.6803         # intercept
/CompPred/exon_score1   -5.1385         # for not having omega
/CompPred/exon_score2    0              # for not beeing an OE
/CompPred/exon_score3    0.9453         # log length
/CompPred/exon_score4    4.2741         # posterior probability
/CompPred/exon_score5    2.5422         # average base probability

# ortho exon scores

/CompPred/exon_score6   -3.4717         # posterior mean omega (0 if no omega was calculated)
/CompPred/exon_score7    0              # variance of omega (0 if no omega was calculated)
/CompPred/exon_score8   -5.6222         # conservation
/CompPred/exon_score9    0              # containment
/CompPred/exon_score10  -8.1274         # diversity
/CompPred/exon_score11   4.1816         # number of species involved in this ortho exon


# intron scores

/CompPred/intron_score0 -1.34679        # intercept
/CompPred/intron_score1  5.20390        # posterior probability
/CompPred/intron_score2  4.08664        # average base probability
/CompPred/intron_score3 -0.70702        # log length

