# scores from logistic regression

/CompPred/ec_thold      1.585627
/CompPred/ic_thold      1.585627

# exon scores

/CompPred/exon_score0	-0.99579	# intercept
/CompPred/exon_score1	-4.15386	# for not having omega
/CompPred/exon_score4  	 5.97133	# posterior probability
/CompPred/exon_score12	-3.62007	# for not beeing sampled

# ortho exon scores

/CompPred/exon_score6	-3.04547	# posterior mean omega (0 if no omega was calculated)
/CompPred/exon_score8	-6.26088	# conservation
/CompPred/exon_score10	 4.65264	# diversity
/CompPred/exon_score15	 5.52477	# number of species involved in this ortho exon divided by clade size

# intron scores

/CompPred/intron_score0	 -3.468171	# intercept
/CompPred/intron_score1	  6.410487	# posterior probability
/CompPred/intron_score2	  2.429658	# average base probability
/CompPred/intron_score3	 -0.353082	# log length
