# exon scores

/CompPred/exon_score0	-6.563793	# intercept
/CompPred/exon_score1	-1.163800	# for not having omega
/CompPred/exon_score2	 0 	# for not beeing an OE 
/CompPred/exon_score3	 0.690297	# log length
/CompPred/exon_score4	 3.599544	# posterior probability
/CompPred/exon_score5	 2.112740	# average base probability

# ortho exon scores

/CompPred/exon_score6	-1.042152	# posterior mean omega (0 if no omega was calculated)
/CompPred/exon_score7	-0.093087	# variance of omega (0 if no omega was calculated)
/CompPred/exon_score8	 0.733866	# conservation
/CompPred/exon_score9	 0.002215	# containment
/CompPred/exon_score10	-0.213078	# diversity
/CompPred/exon_score11	-0.113817	# number of species involved in this ortho exon


# intron scores

/CompPred/intron_score0	 0	# intercept
/CompPred/intron_score1	 0	# posterior probability
/CompPred/intron_score2	 0	# average base probability
/CompPred/intron_score3	 0	# log length
