# scores from logistic regression trained my mario for some vertebrates

# exon scores

/CompPred/exon_score0   -4.2444         # intercept
/CompPred/exon_score1   -4.8556         # for not having omega
/CompPred/exon_score2    0              # for not beeing an OE
/CompPred/exon_score3    0              # log length
/CompPred/exon_score4    5.4296         # posterior probability
/CompPred/exon_score5    4.3545         # average base probability

# ortho exon scores

/CompPred/exon_score6   -4.0198         # posterior mean omega (0 if no omega was calculated)
/CompPred/exon_score7    0              # variance of omega (0 if no omega was calculated)
/CompPred/exon_score8   -10.6047        # conservation
/CompPred/exon_score9    0              # containment
/CompPred/exon_score10   3.0542         # diversity
/CompPred/exon_score11   0.5781         # number of species involved in this ortho exon


# intron scores

/CompPred/intron_score0 -2.03403        # intercept
/CompPred/intron_score1  4.89456        # posterior probability
/CompPred/intron_score2  3.59555        # average base probability
/CompPred/intron_score3 -0.42217        # log length
