

@import url("screen_fussbereich.css"); 




/*******************************************************************************
 Start: Hauptmenue (linke Seite) 
*******************************************************************************/
div#linke_spalte ul.menu
 {
  list-style: none;
  width: auto;
  margin: 0px 0px 20px 0px; 
 }

div#linke_spalte ul.menu li { display: inline; }

/***** erste Ebene ************************************************************/
div#linke_spalte ul.menu li a 
 { 
  display: block; 
  color: #006699; 
  font-size: 70%;
  padding: 3px 0px 3px 20px; 
  min-height: 1em; 
  font-weight:bold; 
  text-decoration: none; 
  border-bottom: 1px dotted #999999;
 }
 
div#linke_spalte ul.menu li a:link    { color: #006699; text-decoration: none; }
div#linke_spalte ul.menu li a:visited { color: #006699; text-decoration: none; }
div#linke_spalte ul.menu li a:hover   { color: #006699; text-decoration: none; background-color: #E6E9EC; }
div#linke_spalte ul.menu li a:active  { color: #006699; text-decoration: none; }

div#linke_spalte ul.menu li#current a { background: url(../bilder/frames/arrow.png) center left no-repeat; color: #006699; }
div#linke_spalte ul.menu li#current li a { background: none; }

/***** zweite Ebene ***********************************************************/
div#linke_spalte ul.menu ul
 {
  width: auto;
 } 
 
div#linke_spalte ul.menu ul a { 
padding: 3px 0px 3px 30px; 
font-weight: normal; }

/***** dritte Ebene ***********************************************************/
div#linke_spalte ul.menu ul ul
 {
  width: auto;
 } 
 
div#linke_spalte ul.menu ul ul a {
padding: 3px 0px 3px 40px; 
font-weight: normal; }

div#mittel_spalte
 {
  font-size: 0.7em;
 }


/*******************************************************************************
 Standard-Elemente
*******************************************************************************/ 
div#mittel_spalte a
 {
  color: #006699;
  text-decoration: none;
  font-weight: bold;
 }

div#mittel_spalte a:link    { color: #006699; text-decoration: none; }
div#mittel_spalte a:visited { color: #006699; text-decoration: none; }
div#mittel_spalte a:hover   { color: #006699; text-decoration: none; }
div#mittel_spalte a:active  { color: #006699; text-decoration: none; }

div#mittel_spalte p { margin: 8px 0px 8px 0px; line-height: 1.3em; }
 
div#mittel_spalte table { margin: 8px 0px 0px 0px; }
 
div#mittel_spalte h1 { font-size: 1.4em; }
div#mittel_spalte h2 { font-size: 1.2em; }
div#mittel_spalte h3 { font-size: 1.0em; }
div#mittel_spalte h4 { font-size: 1.0em; }
div#mittel_spalte h5 { font-size: 1.0em; }
div#mittel_spalte h6 { font-size: 1.0em; }
 
div#mittel_spalte ol
 {
  margin-left: 2.0em; /***list-style-position: inside;**/
  padding-top: 3px;
 }

div#mittel_spalte ul, ol
 {
  margin-left: 2em; /***list-style-position: inside;**/
  padding-top: 3px;
 }
 
div#mittel_spalte ul ul 
 {
  margin-left: 20px;
 } 
 
div#mittel_spalte ul li
 {
  line-height: 1.4em;
 } 
div#mittel_spalte blockquote
 {
  margin-left:1em;
 }

/*******************************************************************************
 Joomla-Beitraege
*******************************************************************************/  
div#mittel_spalte .contentpaneopen h1 { }
div#mittel_spalte .contentpaneopen h2 { }
div#mittel_spalte .contentpaneopen h3 { }
div#mittel_spalte .contentpaneopen h4 { }

div#mittel_spalte .contentheading {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.3em;
  color:#006699;
}
div#mittel_spalte .contentpaneopen {
  
}



/*******************************************************************************
 Liste mit Pfeilen
*******************************************************************************/
ul.pfeilliste 
 {
  list-style-image: url(../bilder/frames/quick_pfeil.gif);
 }

ul.pfeilliste li 
 {
  padding-top: 3px;
 }



/*******************************************************************************
 Aktuelles - Startseite
*******************************************************************************/
div#mittel_spalte table.gk_news_show_table
 { 
  width: 63%;
}

div#mittel_spalte table tr.gk_news_show_tablerow { margin-bottom: 0px;  }

div#mittel_spalte .gk_news_show_news_info {
  border-top: 1px dotted #999999;
  letter-spacing: .1em;
  color: #555566;
  font-size: 70%;
  padding: 2px 0px 0px 0px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.36em
}

div#mittel_spalte .gk_news_show_news_header { }

div#mittel_spalte .gk_news_show_news_text { clear: both; }

div#rechte_spalte
 {
  font-size: 0.7em;
 }

/*******************************************************************************
 Standardelemente in der rechten Spalte
*******************************************************************************/  
div#rechte_spalte a
 {
  color: #006699;
  text-decoration: none;
  font-weight: bold;
  background: url(../bilder/frames/quick_pfeil.gif) top left no-repeat;
  padding: 2px 0px 10px 10px;
 }

div#rechte_spalte a:link    { color: #006699; text-decoration: none; }
div#rechte_spalte a:visited { color: #006699; text-decoration: none; }
div#rechte_spalte a:hover   { color: #006699; text-decoration: none;  }
div#rechte_spalte a:active  { color: #006699; text-decoration: none; } 
 
div#rechte_spalte p { margin: 8px 0px 8px 0px; }
  
div#rechte_spalte table { margin: 8px 0px 8px 0px; } 
 
 
 
/*******************************************************************************
 DIV-Container mit Linie unten - urspr. genutzt f. Kontakt
*******************************************************************************/   
div#rechte_spalte div.linien_div
 {
  margin: 0px 0px 20px 0px;
  border-bottom: 1px dotted #999999; 
  padding: 0px 0px 7px 0px;
 } 
 
 
/*******************************************************************************
 DIV-Container 
*******************************************************************************/   
div#rechte_spalte h5.ueberschrift_spezial
 {
  padding: 0px 0px 1px 0px;
  border-bottom: 1px dotted #999999; 
  margin: 0px 0px 15px 0px;
 } 
/*******************************************************************************
 Schriftgroessenanpassung
*******************************************************************************/  
div#schriftgroesse
 {
  margin: 4px 0px 25px 0px;
 } 
 
 
/*******************************************************************************
 Suche
*******************************************************************************/   
div#rechte_spalte input#mod_search_searchword
 {
  border: 1px  solid #cccccc;
  float: left;
 }
 
div#rechte_spalte input.searchbutton
 {
  float: left;
  border: 1px solid #cccccc;
 } 

div#rechte_spalte ul.erweiterte_suche
 {
  list-style: none;
 }
 
div#rechte_spalte ul.erweiterte_suche li { display: inline; }

div#rechte_spalte ul.erweiterte_suche li a 
 {
  display: block;
  margin: 10px 0px 10px 0px;
  border-bottom: 1px dotted #999999;
 } 
 /*******************************************************************************
 Start: Zufallsbild
*******************************************************************************/
div.zufallsbild_kopf 
 {
  letter-spacing: 0.1em;
  color: #555566;
  font-size: 100%;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  padding: 40px 0px 10px 0px;  
 }

div.zufallsbild_koerper
 {
  padding: 0px 0px 0px 0px;
 }

/*******************************************************************************
 Navigation ueber dem Banner
*******************************************************************************/ 
div#navigation_oben
 { 
  width: auto;
  color: #555566; 
  font-size: 64%; 
  line-height: 131%; 
  padding: 3px 0px 3px 15%;
  margin: 0px 0px 0px 10px;
  white-space: nowrap;  
 }

div#navigation_oben a
 {
  color: #006699;  
  font-style: normal; 
  font-weight: bold; 
  text-decoration: none;
 }

div#navigation_oben a:link    { color: #006699; text-decoration: none; }
div#navigation_oben a:visited { color: #006699; text-decoration: none; }
div#navigation_oben a:hover   { color: #006699; text-decoration: none; }
div#navigation_oben a:active  { color: #006699; text-decoration: none; background-color: #E6E9EC; }
div#navigation_oben a:hover   { color: #006699; text-decoration: none; background-color: #E6E9EC; }



/*******************************************************************************
 Banner   
*******************************************************************************/
div#banner {
margin: 0 0 1em;
width: 100%;
background-color: #E6E9EC;
border: 1px; border-color:#ffffff; border-style: solid;
height:120px;
}

div#banner_links{
width: 15%;
height:auto;
text-align:left;
float:left;
}

div#banner_mitte{
width:auto;
height:auto;
text-align:middle;
float:left;
}

div#banner_rechts{
width:15%;
height:auto;
text-align:right;
float:right;
}
div#bannertitel1 
{
padding: 40px 0px 0px 7px;
font-size: 1.0em;
color: #555566;
font-weight: normal;  
}
div#bannertitel2 
{
padding: 15px 0px 0px 7px;
color: #2B5BBC;
font-size: 1.5em;
text-transform: none;
font-weight: normal;  
}
  
/*******************************************************************************
 Wegweisernavigation, Brotkruemelnavigation margin: 5px 0px 18px 0px;
*******************************************************************************/
div#wegweiser
 {
  color: #555566;  
  font-size: 70%; 
  
  padding: 3px 0px 3px 20px; 
  border-top: 1px dotted #999999;
  border-bottom: 1px dotted #999999;
 }
 
div#wegweiser a         { color: #006699; text-decoration: none; font-weight: bold; }
div#wegweiser a:link    { color: #006699; text-decoration: none; }
div#wegweiser a:visited { color: #006699; text-decoration: none; }
div#wegweiser a:hover   { color: #006699; text-decoration: none; background-color: #E6E9EC; }
div#wegweiser a:active  { color: #006699; text-decoration: none; }



/*******************************************************************************
 Grundgeruest der Webseite 
*******************************************************************************/ 
div#koerper
 {
  width: 980px;
 }

div#linke_spalte
 {
  float: left; 
  width: 155px;
  margin: 10px 8px 100% 0px;
 }
 
div#rechte_spalte  
 {
  float: left;
  width: 165px;
  margin: 10px 0px 0px 8px;
 }

div#mittel_spalte
 {
  float: left;
  width: 635px;
  margin: 0px 0px 0px 0px;
 }
 
/***** Start: Grundgeruest im Fussbereich *************************************/ 
div#fuss
 {
  width: 100%;
  clear: both;
  border-top: 10px solid #E6E9EC;
  padding: 5px 0px 5px 0px;
 } 
 
div#fuss_links 
 {
  float: left; 
  width: 15%;
  margin: 0px 10px 0px 0px;
 }

 div#fuss_mitte
  {
  float: left; 
  width: auto;   
  }

div#fuss_rechts 
 {
  float: right; 
  width: 15%;
  margin: 0px 0px 0px 10px;
 }

/*******************************************************************************
 Allgemeine Gestaltungseinstellungen
*******************************************************************************/ 
html *
 {
  padding: 0;
  margin: 0;
 }

body 
 {
  background: #ffffff;
  color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100.01%;
 }


 
 
 
 
/*******************************************************************************
 Standardklassen, globale Klassen
*******************************************************************************/ 
.beendeFluss { clear: both; }
.unsichtbar { display: none; }

/******************* Anpassung TinyMCE im Frontend ****************************/
.mceToolbarTop *      { float:left; }
.mceToolbarTop select { width:auto !important; }
.mceToolbarTop option { float:none; }  



a img { border: 0; }

h5.ueberschrift_spezial 
 {
  padding: 0px 0px 0px 2px;
  color: #555566;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: bold;  
  margin: 0;
 }


 
/*******************************************************************************
 Weitere Klassen, eingefügt am 11.04.2011
*******************************************************************************/ 

#slide1 {
}
#slide2 {
}
#slide3 {
}
#slide4 {
}

#quote {
        background: #222222;
        color: #ffffff;
        padding: 10px;
        margin: 20px;
	margin-right: 45px;
        border: 10px solid #E6E9EC;
}


/*
        ### Tabellen-Ausgabe-Vorlesungsverzeichnis ###
*/

form.form table,
td.maske table,
table.currentLectures
{
        border: 1px solid #6495ed;
        border-collapse: collapse;
}


td.maske {
        background: #FFFFFF;
        font-size: 100%;
        color: #000000;
        font-weight: normal;
}

th.mod {
        vertical-align: middle;
        white-space: nowrap;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        border-right: none;
        border-bottom: 1px solid #6495ed;
        border-left: none;
        background: #E6E9EC;
}

td.mod_n {
        border-bottom: 1px solid #6495ed;
        background: #f5f5dc;
        vertical-align: middle;
        padding-left: 10px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
}

td.mod_n_odd {
        background: #f5f5dc;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 5px;
        vertical-align: top;
}

td.mod_n_even {
        background: #f0ffff;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 5px;
        vertical-align: top;
}

div#fuss
 {
  font-size: 0.65em;
 }

/*******************************************************************************
 Elemente im linken Fuss-Bereich
*******************************************************************************/  
div#fuss_links p.copyright
 {
  color:#666666;
  padding: 0px 0px 0px 20px;
 }

 
 
/*******************************************************************************
 Elemente im mittleren Fuss-Bereich
*******************************************************************************/  
div#fuss_mitte 
 {
  color: #006699;
 }

div#fuss_mitte a
 {
  color: #006699;  
  font-style: normal; 
  font-weight: bold; 
  text-decoration: none;
 }

div#fuss_mitte a:link { color: #006699; text-decoration: none; }
div#fuss_mitte a:visited { color: #006699; text-decoration: none; }
div#fuss_mitte a:hover { color: #006699; text-decoration: none; }
div#fuss_mitte a:active { color: #006699; text-decoration: none; background-color: #E6E9EC; }
div#fuss_mitte a:hover { color: #006699; text-decoration: none; background-color: #E6E9EC; }


/*******************************************************************************
 Elemente im rechten Fuss-Bereich
*******************************************************************************/ 
div#fuss_rechts ul
 {
  list-style: none;
 }
div#fuss_rechts ul li { display: inline; } 

div#fuss_rechts a
 {
  color: #006699; 
  text-decoration: none;
  font-weight: bold;
 }

div#fuss_rechts a:link    { color: #006699; text-decoration: none; }
div#fuss_rechts a:visited { color: #006699; text-decoration: none; }
div#fuss_rechts a:hover   { color: #006699; text-decoration: none; }
div#fuss_rechts a:active  { color: #006699; text-decoration: none; }