@media (min-width:1024px){
    nav .navigation-list.navigation-list--table > .navigation-list__item{
        width:100%;
    }
    nav .navigation-list.navigation-list--table{
        table-layout:fixed;
    }
}
html:not(.touch) a.teaserbox:hover .teaserbox__content{
    background:#FFF !important;
}
ol.latin-lower-items-ordered{
    list-style-type:lower-latin !important;
}
ol.latin-upper-items-ordered{
    list-style-type:upper-latin !important;
}
p.align-left,td.align-left,th.align-left,h1.align-left,h2.align-left,h3.align-left,h4.align-left,h5.align-left,h6.align-left,div.align-left,address.align-left{
    text-align:left;
}
p.align-center,td.align-center,th.align-center,h1.align-center,h2.align-center,h3.align-center,h4.align-center,h5.align-center,h6.align-center,div.align-center,address.align-center{
    text-align:center;
}
p.align-right,td.align-right,th.align-right,h1.align-right,h2.align-right,h3.align-right,h4.align-right,h5.align-right,h6.align-right,div.align-right,address.align-right{
    text-align:right;
}
.news-article__content ul{
    display:inline-block !important;
}
 