/*******************************************************************************
 Grundgeruest der Webseite 
*******************************************************************************/ 
div#koerper
 {
  width: 980px;
 }

div#linke_spalte
 {
  float: left; 
  width: 155px;
  margin: 10px 8px 100% 0px;
 }
 
div#rechte_spalte  
 {
  float: left;
  width: 165px;
  margin: 10px 0px 0px 8px;
 }

div#mittel_spalte
 {
  float: left;
  width: 635px;
  margin: 0px 0px 0px 0px;
 }
 
/***** Start: Grundgeruest im Fussbereich *************************************/ 
div#fuss
 {
  width: 100%;
  clear: both;
  border-top: 10px solid #E6E9EC;
  padding: 5px 0px 5px 0px;
 } 
 
div#fuss_links 
 {
  float: left; 
  width: 15%;
  margin: 0px 10px 0px 0px;
 }

 div#fuss_mitte
  {
  float: left; 
  width: auto;   
  }

div#fuss_rechts 
 {
  float: right; 
  width: 15%;
  margin: 0px 0px 0px 10px;
 }